<h2>Sign Up</h2>

<%= form_tag post_signup_users_path, :class => 'form' do %>
  <%= label :user, :user_name, 'Username', :class => 'col-form-label' %>
  <%= text_field :user, :user_name, :class => 'form-control' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= password_field :user, :password, :class => 'form-control' %>
  <br />
  <%= submit_tag 'Sign up', :class => 'btn btn-primary' %>
  <br />
  <br />
  <br />
  <%= content_tag :p, 'New user?' %>
  <%= link_to 'Sign in', signin_users_path, :class => 'btn btn-secondary' %>
<% end %>